@import 'vendor/opentip';

//Main styles for DestinyCTRL

//Bootstrap
@import "vendor/bootstrap/bootstrap";

.lead {
  font-size: 32px;
  font-weight: bold;
}

.clear:before,
.clear:after {
    content: " ";
    display: table;
}

.clear:after {
    clear: both;
}

//Vault
#vault {
  select {
    width: 120px
  }

  ul {
    list-style: none;
    padding: 0;
    width : 300px;

    li {
      float: left;
      margin-top: 1px;
      margin-left: 1px;
      border: 1px solid red;
    }

    img {
      padding: 1px;
    }
  }
}
