/*
 * Vendor
 */

@import 'vendor/bootstrap/bootstrap';
@import 'vendor/tooltipster';

/*
 * Components
 */

@import "components/sidebar";
@import "components/content";

@mixin clearfix {
  &:before,
  &:after {
      content: ' ';
      display: table;
  }

  &:after {
      clear: both;
  }
}

body {
    padding-top: 50px;
}

//Vault
#vault {
  select {
    width: 120px
  }

  .items {
    list-style: none;
    padding: 0;
    width : 300px;

    .item {
      float: left;
      margin-top: 2px;
      margin-left: 2px;
    }
  }
}

/**
 * Items
 */

.item {
  position: relative;

  .item-icon-wrapper {
    border: 2px solid #DCDCDC;

    &.item-complete {
      border-color: #EFDD56;
    }
  }

  .item-tooltip {
    display: none;
  }

  .item-stack {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: center;
    font-size: 0.5em;
    font-weight: bold;
    width: 15px;
    line-height: 15px;
    background: #F5F5F5;
    pointer-events: none;
  }
}

.item-tooltip {
  padding: 10px;

  header, section {
    padding: 5px;
  }

  header {
    background: rgba(245,245,245,0.9);
    color: #1E242B;

    .item-name {
      font-size: 1.15em;
      text-transform: uppercase;
      margin-bottom: 2px;
    }

    .item-meta {
      @include clearfix;

      font-size: 0.9em;
      opacity: 0.5;

      .item-type {
        float: left;
      }

      .item-tier {
        float: right;
        opacity: 0.5;
      }
    }
  }

  section {
    background: rgba(30, 36, 43, 0.95);
    color: rgba(245, 245, 245, 0.7);
  }

  &.item-tier-rare {
    header {
      background: rgba(85, 127, 158, 0.9);
      color: #F5F5F5;
    }
  }

  &.item-tier-legendary {
    header {
      background: rgba(78, 50, 99, 0.9);
      color: #F5F5F5;
    }
  }

  &.item-tier-exotic {
    header {
      background: rgba(206, 174, 50, 0.9);
      color: #F5F5F5;
    }
  }

  &.item-tier-uncommon {
    header {
      background: rgba(47, 107, 60, 0.9);
      color: #F5F5F5;
    }
  }
}
