/*
 * Vendor
 */

@import 'vendor/bootstrap/bootstrap';

/*
 * Components
 */

@import "components/sidebar";
@import "components/content";

@mixin clearfix {
  &:before,
  &:after {
      content: ' ';
      display: table;
  }

  &:after {
      clear: both;
  }
}

body {
    padding-top: 50px;
}

//Vault
#vault {
  select {
    width: 120px
  }

  .items {
    @include clearfix;

    list-style: none;
    padding: 0;
    margin: 0;
    width : 300px;

    .item {
      float: left;
      margin-top: 2px;
      margin-left: 2px;
    }
  }
}

/**
 * Items
 */

.item {
  position: relative;

  .iconWrapper {
    border: 2px solid #DCDCDC;

    &.complete {
      border-color: #EFDD56;
    }
  }

  .stack {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: center;
    font-size: 0.5em;
    font-weight: bold;
    width: 15px;
    line-height: 15px;
    background: #F5F5F5;
    pointer-events: none;
  }

  .itemTooltip {
    display: none;
  }
}

.itemTooltip {
  .header, .details {
    @include clearfix;

    padding: 10px;
  }

  .header {
    background: rgba(245,245,245,0.9);
    color: #1E242B;

    .name {
      font-size: 1.15em;
      text-transform: uppercase;
      margin-bottom: 2px;
    }

    .meta {
      @include clearfix;

      font-size: 0.9em;
      opacity: 0.5;

      .type {
        float: left;
      }

      .tier {
        float: right;
        opacity: 0.5;
      }
    }
  }

  &.tierRare {
    .header {
      background: rgba(85, 127, 158, 0.9);
      color: #F5F5F5;
    }
  }

  &.tierLegendary {
    .header {
      background: rgba(78, 50, 99, 0.9);
      color: #F5F5F5;
    }
  }

  &.tierExotic {
    .header {
      background: rgba(206, 174, 50, 0.9);
      color: #F5F5F5;
    }
  }

  &.tierUncommon {
    .header {
      background: rgba(47, 107, 60, 0.9);
      color: #F5F5F5;
    }
  }

  .details {
    font-size: 0.95em;
    background: rgba(30, 36, 43, 0.95);
    color: rgba(245, 245, 245, 0.7);

    .heroStat {
      @include clearfix;

      position: relative;
      border-bottom: 1px solid rgba(245, 245, 245, 0.1);
      padding-bottom: 5px;
      margin-bottom: 5px;

      .primaryStat,
      .damageType {
        display: inline-block;
      }

      .primaryStat {
        .stat {
          font-size: 3.5em;
          line-height: 1;
          font-weight: bold;
        }

        .statName {
          font-size: 0.9em;
          text-transform: uppercase;
        }
      }

      .damageType {
        margin-right: 5px;
        border-radius: 25px;
        width: 50px;
        height: 50px;
        text-align: center;
        background-color: #000000;
        background-size: 90%;
        background-repeat: no-repeat;
        background-position: center center;

        img {
          vertical-align: initial;
          margin-top: 5px;
        }
      }

      &.damageTypeArc {
        color: #85C5EC;

        .damageType {
          background-color: #85C5EC;
        }
      }

      &.damageTypeSolar {
        color: #F2721B;

        .damageType {
          background-color: #F2721B;
        }
      }

      &.damageTypeVoid {
        color: #B283CC;

        .damageType {
          background-color: #B283CC;
        }
      }
    }

    .description {
      font-style: italic;
    }

    .stats {
      border-top: 1px solid rgba(245, 245, 245, 0.1);
      padding-top: 5px;
      margin-top: 5px;

      .armorStats {
        line-height: 1;

        .stat {
          margin-top: 5px;

          &:first-child {
            margin-top: 0;
          }

          img {
            margin-right: 5px;
          }
        }
      }

      .weaponStatsTable {
        font-size: 1em;
        color: rgba(245, 245, 245, 0.7);
        width: 100%;
        border-collapse: separate;

        tr {
          td {
            padding-top: 3px;
          }

          &:first-child {
            td {
              padding-top: 0;
            }
          }

          .name {
            text-align: right;
            width: 1px;
            white-space: nowrap;
            padding-right: 5px;
          }

          .value {
            background: rgba(245, 245, 245, 0.5);

            .current {
              height: 15px;
              background: #F5F5F5;
            }
          }
        }
      }
    }
  }
}
